schemas_sifen/siConsultaArchivoRuc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
        elementFormDefault="qualified"
        xmlns="http://ekuatia.set.gov.py/sifen/xsd"
        targetNamespace="http://ekuatia.set.gov.py/sifen/xsd">

    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#"
               schemaLocation="xmldsig-core-schema.xsd"/>

    <xs:include schemaLocation= "https://ekuatia.set.gov.py/sifen/xsd/DE_Types_v150.xsd"/>

    <xs:element name="rConsultaArchivo" type="rConsultaArchivo"/>

    <xs:complexType name="rConsultaArchivo">
        <xs:sequence>
            <xs:element name="ConsultaDTE">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="dRucFactElec" type="tRuc" />
                    </xs:sequence>
                    <xs:attribute name="Id" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element ref="ds:Signature">
                <xs:annotation>
                    <xs:documentation>
                        Firma Digital de la ConsultaDTE
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
	</xs:complexType>
</xs:schema>
